@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
  --accentColor: #36b54a;
  --textColor: #333;
  --borderRadius: 7px;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: var(--textColor);
}

input {
  font-family: inherit;
  color: var(--textColor);
}

button {
  border: none;
  cursor: pointer;
}

header {
  position: absolute;
  top: 0;
}

.logo {
  margin: 0.75rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }

  header {
    position: relative;
  }
}
